:root {
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: inherit;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20vw;
}

section {
  border: 1px solid black;
  border-radius: 15px 15px 0 0;
  height: 400px;
  margin-bottom: 30px;
  overflow: HIDDEN;
  color: white;
}
section h1 {
  font-size: 1em;
  margin: 0;
  padding-left: 10px;
}
section .header-bar {
  background-color: grey;
  height: 40px;
  display: flex;
  align-items: center;
}

section .circle {
  width: 1em;
  height: 1em;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-left: 1em;
}
section .circle-red {
  background-color: red;
}
section .circle-green {
  background-color: green;
}
section .circle-yellow {
  background-color: yellow;
}

/* apply to all */
.box {
  background-color: black;
  width: 100px;
  height: 100px;
}

.container {
  border: 1px solid red;
  display: flex;
}

/* Challenge 1 */

#challenge1 .container1 {
  justify-content: space-between;
}

#challenge1 .container2 {
  justify-content: space-between;
}


/* Challenge 2 */
#challenge2 .container1 {
  flex-direction: column;
  }
#challenge2 .box2 {
  align-self: center;
}
#challenge2 .box3 {
  align-self: flex-end;
}



/* Challenge3 */
#challenge3 .box1 {
  background-color: teal;
  width: 200px;
  height: 200px;
}

#challenge3 .container {
  justify-content: center;
  align-items: center;
}

/* Big big tip: parent relative -> children absolute insde */
#challenge3 .box1 {
  position:relative;
}

#challenge3 .box2 {
  position: absolute;
	top: 50px;
	left: 50px;
}


/* Challenge 4 */
#challenge4 .box2 {
  background-color: blue;
  position: relative;
  top: -50px;
  left: 50px;
}

/* Challenge 6 */
#challenge6 .container1 {
  border: 2px solid green;
  position: relative;
  height: calc(100% - 40px);
  /* because the goddamn header bar is 40px */
}

#challenge6 .box1 {
  background-color: teal;
  height: 50%;
  width: 60%;
  position:absolute;
  bottom: 0;
  right:0;
}

#challenge6 .box2 {
  position:absolute;
  left:0;
  bottom:0;
}

#challenge6 .box3 {
  position:absolute;
  right:0;
  top:0;
}
